*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
  .logo {
    width: 100px;
    height: 100px;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    background-color: white;
    height: 80vh;
  }
  
  .right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 100vh;

  }
  
  .login-inputs {
    width: 80%;
    font-size: 20px;
  }
  
  form#login-form {
    display: flex;
    flex-direction: column;
    font-size: 26px;
  }
  
  .login-inputs input {
    height: 60px;
    border: 1px solid black;
    border-radius: 7px;
    margin: 15px 0px 15px 0px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
  }
  
  .login-btn button {
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 7px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
  }
  
  h5.login-header {
    font-size: 3vw;
    margin: 10px 10px 30px 0px;
  }
  
  .error-message {
    background-color: red;
    width: 80%;
    font-size: 25px;
    margin: 20px 0px;
    display: none;
    height: 50px;
    text-align: center;
    border-radius: 7px;
  }
  
  .error-message h5 {
    text-align: center;
  }
  
  .active {
    display: block;
    animation: moveDown 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error-message h5 {
    font-style: italic;
    font-weight: 300;
    color: white;
    text-align: center;
  }
  
  .login-img {
    background-image: url(../assets/images/junkyard-1.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  